<?php
$sales  = [];
foreach ($types as $type) {
    $object = new stdclass();
    $object->price = 0;
    $object->name  = $type->attributes['name'];
    foreach ($type->projects as $project) {
        if ($project->invoice_id) {
            $object->price = $object->price + $project->price;
        }
    }
    $sales[$type->attributes['id']] = $object;
}
?>

<div class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?></h3>

    <div class="report-item control-chart" data-control="chart-pie" id="overview-projects">
        <h4>Projects</h4>
        <ul>
            <li class="chart-complete" data-color="#95b753">Complete <span><?php echo $complete; ?></span></li>
            <li class="chart-ongoing" data-color="#e5a91a">Ongoing <span><?php echo $ongoing; ?></span></li>
        </ul>
    </div>

    <div class="report-item title-value" data-control="goal-meter" data-value="<?php echo $goal; ?>" id="overview-goal">
        <h4>Goal (completes & not invoiced)</h4>
        <p class="percentage"><?php echo $goal; ?>%</p>
        <p class="description">of &pound;700 weekly target</p>
    </div>

    <div class="report-item control-chart title-value sales-by-type" data-control="chart-bar" style="height: 60px;">
        <h4>Sales by Type</h4>
        <ul>
            <?php foreach ($sales as $key => $value) { ?>
                <li data-color="<?php echo sprintf("#%06x",rand(0,16777215)); ?>"><?php echo $value->name; ?> <span><?php echo $value->price; ?></span>
            <?php } ?>
        </ul>
    </div>

    <div class="report-item title-value">
        <h4>Bank Balance</h4>
        <p class="oc-icon-money">1,000,007</p>
        <p class="description">Not yet implemented</p>
    </div>

</div>
