subject = "Invoice for latest work"
==

{% if custom_message %}
{{ custom_message }}
{% endif %}

Hello {{ contact }},

Your work has been completed and payment is now due.

Payment for <strong>£{{ total_amount }}</strong> can be made via Card Payment{% if bank_details %} or via our Bank Details{% endif %}.

Card Payment -
{{ payment_link }}

{% if bank_details %}
Bank Transfer - 
{{ bank_details }}
{% endif %}

This invoice is for the following projects -
{% for project in invoice.projects %}
{{ project.salestype.name }}
{{ project.name }}{% if project.description %} - {{ project.description|nl2br }}{% endif %}
£{{ project.price|number_format(2) }}

{% endfor %}

Thanks
{{ from_name }} @ {{ company_name }}

==

{% if custom_message %}
    <p>{{ custom_message|raw|nl2br }}</p>
{% endif %}

<p>Hello {{ contact }},</p>

<p>Your work has been completed and payment is now due.</p>

<p>Payment for <strong>£{{ total_amount }}</strong> can be made via Card Payment{% if bank_details %} or Bank Transfer{% endif %}.</p>

<p>Card Payment -<br />
<a href="{{ payment_link }}" title="Card Payment Link">{{ payment_link }}</a></p>

{% if bank_details %}
    <p>Bank Transfer - <br />
    {{ bank_details|nl2br }}</p>
{% endif %}

<p>This invoice is for the following projects -</p>
<ul>
    {% for project in invoice.projects %}
        <li>
            {{ project.salestype.name }}<br />{{ project.name }}{% if project.description %} - {{ project.description|raw }}{% endif %}<br />
            <strong>£{{ project.price|number_format(2) }}</strong>
        </li>
    {% endfor %}
</ul>

<p>Thanks<br />
{{ from_name }} @ {{ company_name }}</p>