<div class="report-widget">
    <h3><?= e(trans($this->property('title'))) ?> for <strong><?php echo $user->email; ?></strong></h3>

    <div class="control-filter">

        <div class="filter-scope checkbox custom-checkbox">
            <input type="checkbox" id="scope-incomplete">
            <label for="scope-incomplete">Only Incompletes</label>
        </div>

        <div id="filter-client">
            <select class="client form-control custom-select">
                <option value="0">All</option>
                <?php foreach ($clients as $client) { ?>
                    <option value="<?php echo $client['id']; ?>"><?php echo $client['name']; ?></option>
                <?php } ?>
            </select>
            <label for="filter-client">Client</label>
        </div>
    </div>

    <div id="ongoing" class="control-list">
        <table class="table data">
            <thead>
                <tr>
                    <th class="sort-desc list-cell-name-client_id list-cell-type-text" data-column="client_id">
                        <a href="#">Client</a>
                    </th>
                    <th class="sort-desc list-cell-name-name list-cell-type-text" data-column="name">
                        <a href="#">Job Name</a>
                    </th>
                    <th class="list-cell-name-price list-cell-type-number">
                        <a href="#">Price</a>
                    </th>
                    <?php /*
                    <th class="sort-desc list-cell-name-created_at list-cell-type-text" data-column="created_at">
                        <a href="#">Created</a>
                    </th>*/ ?>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($projects as $project) { ?>
                <?php
                $class = '';
                if ($project['complete'] == 1) $class = ' class="complete"';
                if ($project['complete'] == 2) $class = ' class="suspended"';
                ?>
                <tr<?php echo $class; ?> data-id="<?php echo $project['id']; ?>">
                    <td class="toggle list-cell-name-client list-cell-type-text" data-title="Client"><?php echo $project['client_name']; ?></td>
                    <td class="toggle list-cell-name-name list-cell-type-text" data-title="Job Name"><?php echo $project['name']; ?></td>
                    <td class="toggle list-cell-name-price list-cell-type-text" data-title="Price">&pound;<?php echo number_format($project['price'], 2); ?></td>
                    <?php /*<td class="toggle list-cell-name-created_at list-cell-type-text" data-title="Created"><?php echo $project['created_at']; ?></td>*/ ?>
                    <td class="list-cell-name-edit list-cell-type-text edit" data-title="Edit"><a href="/backend/monologophobia/company/projects/update/<?php echo $project['id']; ?>" title="Edit">Edit</a></td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

</div>