<div data-control="toolbar">

    <a
        class="btn btn-info oc-icon-chevron-left"
        href="<?= Backend::url('monologophobia/company/payments/') ?>">
        Back to Payments
    </a>

    <a
        href="<?= Backend::url('monologophobia/company/purchasetypes/create/') ?>"
        class="btn btn-primary oc-icon-plus">New</a>
        
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete these types?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete
    </button>

</div>