<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('monologophobia/company/salestypes') ?>">Sales Types</a></li>
        <li>Edit Sales Type</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class'=>'layout-item stretch layout-column']) ?>

        <?= $this->formRender() ?>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating Type..."
                    class="btn btn-primary">
                    Save
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:true"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating Type..."
                    class="btn btn-message">
                    Save and Close
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('monologophobia/company/salestypes') ?>">Cancel</a>
                </span>
            </div>
        </div>
    
    <?= Form::close() ?>

<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('monologophobia/company/salestypes') ?>" class="btn btn-default">Return to Sales Types</a></p>
    </div>
<?php endif ?>
