#invoice {
    font-size: 9pt;
    font-family: arial;
    width: 210mm;
    height: 297mm;
    display: block;
    margin: 0 auto;
    background-color: #fff !important;
    padding: 1cm;
    color: #616161 !important;
    -webkit-print-color-adjust: exact;
    position: relative;
}

#logo {
    display: block;
    width: 3.2cm;
    float: left;
}

#logo a, #logo img {
    display: block;
    width: 100%;
}

#company {
    float: right;
    text-align: right;
}

#details {
    background-color: #F4F4F4 !important;
    -webkit-print-color-adjust: exact;
    display: block;
    width: 100%;
    clear: both;
    top: 1.25cm;
    position: relative;
    padding: 0.5cm;
}

#details #customer, #details #overview {
    display: inline-block;
    width: 49.75%;
    vertical-align: middle;
}

#details #overview {
    text-align: right;
}

#details h4 {
    margin-top: 0;
}

#details #invoice-number {
    position: absolute;
    right: 0;
    top: -1cm;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
    padding: 0.25cm 1cm;
}

#details #invoice-number h3 {
    margin: 0;
    word-spacing: 2rem;
    font-size: 0.5cm;
}

#details #invoice-number span.id {
    -webkit-print-color-adjust: exact;
}

#details #overview span.branding {
    font-weight: bold;
}

#details #overview span.content {
    width: 8.25rem;
    display: inline-block;
}

#details #overview p:last-child {
    margin-bottom: 0;
}

#details:after {
    content: '';
    display: block;
    clear: both;
}

#invoice h3, #invoice h4 {
    font-weight: bold;
}

#items {
    margin-top: 1.5cm;
    padding: 0.5cm;
}

#items table {
    width: 100%;
}

#items table .right {
    text-align: right;
}

#items table tbody td {
    padding: 0.25cm 0;
}

.branding {
    -webkit-print-color-adjust: exact;
}

address {
    font-style: italic;
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1cm;
}

footer #terms {
    float: left;
}

#footer #terms p {
    margin: 0;
}

footer #total {
    float: right;
    padding: 0.25cm 1cm;
    border: #333 5px solid;
}

footer #total p {
    margin: 0;
    font-size: 1.5rem;
}

footer #total .total {
    font-weight: bold;
    color: #333;
    display: inline-block;
    min-width: 7rem;
    text-align: right;
}

footer:after {
    content: '';
    display: block;
    clear: both;
}

@media print {
    nav.navbar, nav.layout-sidenav, .layout-cell, .scoreboard, .layout > .layout-cell.width-120, .layout > .layout-cell {
        display: none;
    }
    #layout-body {
        display: block;
    }
    .layout > .layout-cell.layout-container, .layout > .layout-cell .layout-container, .layout > .layout-cell.padded-container, .layout > .layout-cell .padded-container {
        padding: 0;
    }
}