<style>
#details #invoice-number {
    background-color: <?= $settings->colour; ?> !important;
}
.branding {
    color: <?= $settings->colour; ?> !important;
    -webkit-print-color-adjust: exact;
}
</style>

<div id="invoice">

    <header>
        <div id="logo">
            <img src="<?= $brand->getLogo(); ?>" alt="<?= $brand->app_name; ?>" />
        </div>
        <div id="company">
            <p><strong><?= $brand->app_name; ?></strong></p>
            <p><?= nl2br($settings->contact); ?></p>
        </div>
    </header>

    <div id="details">
        <div id="invoice-number">
            <h3>Invoice <span class="id"><?php echo $invoice->id; ?></span></h3>
        </div>
        <div id="customer">
            <h4 class="branding"><?php echo $invoice->client->name; ?></h4>
            <address><?php echo nl2br($invoice->client->address); ?></address>
        </div>
        <div id="overview">
            <p><span class="branding">Invoice Date:</span> <span class="content"><?php echo date('d/m/Y', strtotime($invoice->created_at)); ?></span></p>
            <p><span class="branding">Account Number:</span> <span class="content"><?php echo $invoice->client->internal_name; ?></span></p>
            <p><span class="branding">Page:</span> <span class="content">1</span></p>
        </div>
    </div>

    <div id="items">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th class="right">Total</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($invoice->projects as $project) { ?>
                <tr>
                    <td>
                        <?php echo $project->salestype->name; ?>
                    </td>
                    <td>
                        <?php echo $project->name; ?><?php if ($project->description) echo ' - ' . $project->description; ?>
                    </td>
                    <td class="right">
                        £<?php echo number_format($project->price, 2); ?>
                    </td>
                </tr>
                <?php } ?>
            </tbody>
        </table>
    </div>

    <footer>
        <div id="terms">
            <p>Payment Terms <?php echo $invoice->client->terms; ?> Days</p>
            <p><?= nl2br($settings->payment_details); ?></p>
        </div>
        <div id="total">
            <p>INVOICE TOTAL: <span class="total">&pound;<?= $invoice->total_amount; ?></span></p>
        </div>
    </footer>

</div>
    