<div data-control="toolbar">

    <a
        href="<?= Backend::url('monologophobia/company/projects/') ?>"
        class="btn btn-primary oc-icon-plus">New Invoice from Projects</a>

    <button
        class="btn btn-default oc-icon-check"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onMarkAsPaid"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-stripe-load-indicator
    >
        Mark As Paid
    </button>

    <button
        class="btn btn-warning oc-icon-share-square-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onExport"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="exportSuccess(this, data.result);"
        data-stripe-load-indicator
    >
        Export
    </button>
</div>

<script>
function exportSuccess(element, data) {

    $(element).prop('disabled', false);

    var csv = "data:text/csv;charset=utf-8,";

    data.forEach(function(content, index) {
        var data_string = '"' + content.join('","') + '"';
        csv += index < data.length ? data_string + "\n" : data_string;
    }); 

    var link = document.createElement('a');
    link.href = encodeURI(csv);
    link.download = 'invoices.csv';
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);

}
</script>