<div class="scoreboard">
    <div class="scoreboard-item title-value">
        <h4>Invoice</h4>
        <p><?php echo $invoice->id; ?></p>
        <p class="description">created: <?php echo $invoice->created_at; ?></p>
    </div>
    <div class="scoreboard-item title-value">
        <h4>Total</h4>
        <p>&pound;<?php echo number_format($invoice->projects->sum('price'), 2); ?></p>
        <p class="description">client: <?php echo $invoice->client->findOrFail($invoice->client_id)->name; ?></p>
    </div>
    <div class="scoreboard-item title-value">
        <h4>Status</h4>
        <?php if ($invoice->isOverdue()) { ?>
        <p class="negative">Overdue</p>
        <?php } else if ($invoice->amount_due > 0) { ?>
        <p class="negative">£<?= number_format($invoice->amount_due, 2) ?> due</p>
        <?php } else { ?>
        <p class="positive">Paid</p>
        <?php } ?>
    </div>
    <?php if ($invoice->amount_due == 0) { ?>
        <div class="scoreboard-item title-value">
            <h4>Date Paid</h4>
            <p><?= $invoice->paid_date ? $invoice->paid_date->format('Y-m-d H:i') : 'Not Paid'; ?></p>
        </div>
        <div class="scoreboard-item title-value">
            <h4>Amount Paid</h4>
            <p>£<?= number_format($invoice->paid_amount, 2); ?></p>
            <p class="description"><?= $invoice->payment_reference; ?></p>
        </div>
        <div class="scoreboard-item title-value">
            <h4>Fees Paid</h4>
            <p class="negative">£<?= $invoice->fee ? number_format($invoice->fee->amount, 2) : 0.00; ?></p>
        </div>
        <div class="scoreboard-item title-value">
            <h4>Amount Received</h4>
            <p class="positive">£<?= $invoice->fee ? number_format($invoice->paid_amount - $invoice->fee->amount, 2) : number_format($invoice->paid_amount, 2); ?></p>
        </div>
    <?php } ?>
    <div data-control="toolbar">
        <a href="<?= Backend::url('monologophobia/company/invoices') ?>" class="btn oc-icon-chevron-left">Back</a>
        <button type="button" class="btn btn-<?= ($invoice->paid_date ? 'danger' : 'primary'); ?> <?= ($invoice->paid_date ? 'oc-icon-times' : 'oc-icon-check'); ?>" data-control="popup" data-request="onMarkAsPaid" data-request-data="id: <?= $invoice->id; ?>">Mark as <?php if ($invoice->paid_date) echo 'Un'; ?>Paid</button>
        <button type="button" class="btn btn-warning oc-icon-print" onclick="document.title = 'Invoice <?php echo $invoice->id; ?>';javascript:if(window.print)window.print()">Print</button>
        <a data-toggle="modal" href="#email-invoice" class="btn btn-danger oc-icon-envelope" onclick="">Email</a>
    </div>
</div>


<div class="control-popup modal fade" id="email-invoice" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Email Invoice <?= $invoice->id; ?> to <?= $invoice->client->email; ?></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Any additional message?"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="send">Send</button>
            </div>
            <script>
                var send = document.getElementById('send');
                send.addEventListener('click', function() {
                    var data = {'message': document.getElementById('message').value};
                    $.request('onEmail', {data: data});
                });
            </script>
        </div>
    </div>
</div>

<?= $this->makePartial('invoice'); ?>