<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('monologophobia/company/clients') ?>">Clients</a></li>
        <li>Edit Client</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php Block::put('form-contents') ?>

        <div class="layout-row min-size">
            <?= $this->formRenderOutsideFields() ?>
        </div>
        <div class="layout-row">
            <?= $this->formRenderPrimaryTabs() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating Client..."
                    class="btn btn-primary">
                    Save
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:true"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating Client..."
                    class="btn btn-message">
                    Save and Close
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('monologophobia/company/clients') ?>">Cancel</a>
                </span>
            </div>
        </div>
    
    <?php Block::endPut() ?>

    <?php Block::put('form-sidebar') ?>
        <h4 style="margin-top: 0;"><?php echo Lang::get('monologophobia.company::lang.clients.activity');?></h4>
        <p><?php echo Lang::get('monologophobia.company::lang.clients.balance');?> - <strong><?php echo Lang::get('monologophobia.company::lang.app.currency'); ?><?php echo number_format($balance, 2); ?></strong></p>
        <p><?php echo Lang::get('monologophobia.company::lang.clients.ongoing');?> - <strong><a href="<?= Backend::url('monologophobia/company/projects') ?>"><?php echo $ongoing; ?></strong></a> (<?php echo Lang::get('monologophobia.company::lang.app.currency'); ?><?php echo number_format($ongoing_total, 2); ?>)</p>
    <?php Block::endPut() ?>

    <?php Block::put('body') ?>
        <?= Form::open(['class'=>'layout stretch']) ?>
            <?= $this->makeLayout('form-with-sidebar') ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>
    
<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('monologophobia/company/clients') ?>" class="btn btn-default">Return to Clients List</a></p>
    </div>
<?php endif ?>
