<h1 class="cutout">Pay Invoice {{ invoice.id }}</h1>
<div id="pay-invoice" class="glass dark">
    <div>
        {% partial '@payment' %}
    </div>
    <div id="invoice-details">
        <h2>Details</h2>
        <ul>
            {% for project in invoice.projects %}
                <li>
                    {{ project.salestype.name }}<br />{{ project.name }}{% if project.description %} - {{ project.description|nl2br }}{% endif %}<br />
                    <strong>£{{ project.price|number_format(2) }}</strong>
                </li>
            {% endfor %}
        </ul>
        <p><a href="/invoice/{{ invoice.id }}/{{ invoice.unique_id }}/show" title="View Invoice">View Full Invoice</p></p>
    </div>
</div>