<div data-control="toolbar">
    <a
        href="<?= Backend::url('monologophobia/company/projects/create/') ?>"
        class="btn btn-primary oc-icon-plus">New Project</a>
        
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete these projects?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Delete
    </button>

    <button
        class="btn btn-warning oc-icon-files-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDuplicate"
        data-request-confirm="Are you sure you want to duplicate these projects?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Duplicate
    </button>
    
    <button
        style="margin-left: 20px;"
        class="btn btn-success oc-icon-briefcase"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onInvoice"
        data-request-confirm="Are you sure you want to create invoices for these projects?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', false)"
        data-stripe-load-indicator>
        Create Invoices
    </button>

    <a
        style="margin-left: 20px;"
        class="btn btn-info oc-icon-wrench span-right"
        href="<?= Backend::url('monologophobia/company/salestypes/') ?>">
        Manage Sales Types
    </a>
    

</div>