<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('monologophobia/company/projects') ?>">Projects</a></li>
        <li>New Advanced Project</li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout stretch']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Creating Project..."
                    class="btn btn-primary">
                    Create
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:true"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Creating Project..."
                    class="btn btn-message">
                    Create and Close
                </button>
                <span class="btn-text">
                    or <a href="<?= Backend::url('monologophobia/company/projects') ?>">Cancel</a>
                </span>
            </div>
        </div>
    
    <?= Form::close() ?>
    
<?php else: ?>
    <div class="control-breadcrumb">
        <?= Block::placeholder('breadcrumb') ?>
    </div>
    <div class="padded-container">
        <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
        <p><a href="<?= Backend::url('monologophobia/company/projects') ?>" class="btn btn-default">Return to Projects</a></p>
    </div>
<?php endif ?>
