<?php /*
<?= $this->formRender() ?>
*/ ?>
<div class="scoreboard">
    <div data-control="toolbar">

        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753">Complete <span><?php echo $complete; ?></span></li>
                <li data-color="#e5a91a">Ongoing <span><?php echo $ongoing; ?></span></li>
            </ul>
        </div>

        <div class="scoreboard-item title-value" data-control="goal-meter" data-value="<?php echo $goal; ?>">
            <h4>Goal (completes & not invoiced)</h4>
            <p><?php echo $goal; ?>%</p>
            <p class="description">of £700 weekly target</p>
        </div>

    </div>    
</div>
<?= $this->listRender() ?>

<style>
table.table.data tbody tr:nth-child(even), table.table.data tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

table.table.data tbody tr:nth-child(even) td, table.table.data tbody tr:nth-child(even) td {
    background-color: transparent;
}

.complete td {
    background-color: rgba(80, 230, 100, 0.75) !important;
}

.invoiced td {
    background-color: rgba(50, 50, 50, 0.75) !important;
    color: #fff !important;
}

.suspended td {
    background-color: rgba(255, 162, 0, 0.75) !important;
}
</style>